[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/xfce/Desktop/docker-desktop.desktop]
row=2
col=14

[/home/xfce/Desktop/xfce-settings-manager.desktop]
row=0
col=12

[/home/xfce/Desktop/postman.desktop]
row=2
col=13

[/home/xfce/Desktop/thunar.desktop]
row=0
col=13

[/home/xfce/Desktop/zen-browser.desktop]
row=1
col=14

[/home/xfce/Desktop/org.wezfurlong.wezterm.desktop]
row=3
col=13

[/home/xfce/Desktop/brave-browser.desktop]
row=1
col=13

[/home/xfce/Desktop/code.desktop]
row=1
col=12

[/home/xfce/Desktop/codium.desktop]
row=2
col=12

[Trash]
row=0
col=14

